.content {
    display: flex;
    padding-top: 5%;
    margin-left: 15%;
    text-align: center;
}

.h1 {
    color: #B61D1D;
    font-size: 150px;
}

.error404_1 {
    color: white;
    height: 100vh;
    background-image: url("/zoro_404.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 60%;
}