.grid{
    display: grid;
    grid-template-areas: "a b";
}

.item_a{
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_b{
    grid-area: b;
    background-image: url("/auth.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.text{
    color: white;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    border-style: solid;
    border-color: #1AAD5E;
    border-width: 0px 0px 0px 5px;
}